.setting_stop-start_button{
    width: 200px;
    margin:5px;
}

.input_output-textarea{
  min-height: 500px;
  resize: none;

}

.fitnessValueList{
    height: 420px;
    overflow-y: scroll;
}

.block{
	border-width: 1px;
	border-style: solid;
	position: relative;
    background-color: white;
    border-radius: 2px;
}

.testDiv{
	min-height: 400px;
    min-width: 400px;
    background-color: aquamarine;
}

.plotDiv{
	min-height: 200px;
    min-width: 200px;
    background-color: aquamarine;
}

tr {
width: 100%;
display: inline-table;
height:60px;
table-layout: fixed;

}

table{
 height: 560px;
 display: -moz-groupbox;
}

tbody{
  overflow-y: scroll;
  height: 550px;
  width: 100%;
  position: absolute;
}

.terminal_div{
    width: 100%;
    height: 100%;
    display: block;
    padding: 9.5px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: auto;
}

#chart {
  max-width: 600px;
  max-height: 400px;
}

.progress { margin-left: auto; margin-right:auto; }
